:root {
  --brand-primary: #800000;
  --brand-secondary: #faebd7;
  --success: #4cbb17;
  --error: #ff0000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background-color: var(--brand-secondary);
  line-height: 1.5;
}

.panel {
  border: 2px dashed var(--brand-primary);
  padding: 1rem;
}

.success-panel {
  border: 2px dashed var(--success);
  padding: 1rem;
}

.error-panel {
  padding: 1rem;
  color: var(--error);
  border: 2px solid var(--error);
}

.input-error {
  border: 2px solid var(--error);
}
