---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import BookEntry from '../components/BookEntry.astro';
import ArticleEntry from '../components/ArticleEntry.astro';

const books = await getCollection('books');
const articles = await getCollection('articles');

const filteredBooks = await getCollection(
  'books',
  ({ data }) => data.pages > 400
);
---

<BaseLayout>
  <h1>Content collections</h1>
  <div class="container">
    <div class="column">
      <h2>Books (type: 'data')</h2>
      {books.map((book) => <BookEntry entry={book} />)}

      <h2>Filtered Books (type: 'data', pages &gt; 400)</h2>
      {filteredBooks.map((book) => <BookEntry entry={book} />)}

      <h2>Paginated Articles (type: 'content')</h2>
      <h3>
        <a href="/collections/articles/1">Click here for paginated articles</a>
      </h3>
    </div>
    <div class="column">
      <h2>Articles (type: 'content')</h2>
      {articles.map((article) => <ArticleEntry entry={article} />)}
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
  }

  .column {
    flex: 1 1 0;
  }
</style>
