---
interface Props {
  messages: Array<string | undefined>;
}

const { messages } = Astro.props;
---

{
  Array.isArray(messages) && messages.some((m) => !!m) ? (
    <div class="error-panel">
      {messages.map((message) => (message ? <p>{message}</p> : null))}
    </div>
  ) : null
}
